{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 
{% block homeactive %}active{% endblock homeactive %} 

{% block body %} 
{% load static %}
<div class="container-fluid px-0">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ratio ratio-21x9">
        <img
          src=" {% static './img/img_1.jpg' %} "
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item ratio ratio-21x9">
        <img
          src=" {% static './img/img_2.jpg' %} "
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item ratio ratio-21x9">
        <img
          src=" {% static './img/img_3.jpg' %} "
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container pb-5 pt-3">
  <h2 class="text-center pt-3 pb-2">Why us?</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static './img/img_1.jpg' %}"
          class="card-img-top"
          alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Best Coding Articles</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
            mollitia.
          </p>
          <a href="/blog" class="btn btn-primary btn-sm">Read Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static './img/img_2.jpg' %}"
          class="card-img-top"
          alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Amazing Services</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
            mollitia.
          </p>
          <a href="#" class="btn btn-primary btn-sm">See Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static './img/img_3.jpg' %}"
          class="card-img-top"
          alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Free Courses</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
            mollitia.
          </p>
          <a href="#" class="btn btn-primary btn-sm">Attend Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
